<!DOCTYPE html>
<html ng-app="Qisehua">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, width=device-width">
  <title>七色花电子商务</title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- jquery js -->
  <script src="js/jquery.min.js"></script>
  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body class="padding" ng-controller="RootCtrl">
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="首页" icon="ion-home" ng-click="reloadHomePage();">
      <ion-content id="home-page-content" has-header="true">
      </ion-content>
    </ion-tab>
    <ion-tab title="电话" icon="icon ion-android-call" ng-click="dailConfirm();">
      <ion-content has-header="true">
        <h1>电话</h1>
      </ion-content>
    </ion-tab>
    <ion-tab title="升级" icon="icon ion-refresh" ng-click="upgradeConfirm();">
      <ion-content has-header="true">
        <h1>升级</h1>
      </ion-tab>
    </ion-tab>
    <!--
    <ion-tab title="信息" icon="icon ion-information-circled" ng-click="showSystemInfo();">
      <ion-content has-header="true">
        <h1>信息</h1>
      </ion-tab>
    </ion-tab>
    -->
    <ion-tab title="退出" icon="icon ion-gear-b" ng-click="quitConfirm();">
      <ion-content has-header="true">
        <h1>退出</h1>
      </ion-tab>
    </ion-tab>
  </ion-tabs>
</body>
</html>
