<ion-tabs class="{{tabsStyle}}">
  <ion-tab title="首页" icon="ion-home" href="#/tabs/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="服务" icon="ion-map" href="#/tabs/service">
    <ion-nav-view name="service-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="关于" icon="ion-ios7-information" href="#/tabs/about-us">
    <ion-nav-view name="about-us-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="退出" icon="ion-log-out" ng-click="quitConfirm();">
  </ion-tab>
</ion-tabs>
