<ion-view title="畜主" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="page4-form2" class="list">
      <label class="item item-input" id="page4-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="page4-list3">
      <ion-item id="page4-list-item9">畜主A
        <span class="item-note">养殖类型－电话－地址</span>
        <ion-option-button class="button-balanced">修改</ion-option-button>
        <ion-option-button class="button-positive">防疫</ion-option-button>
        <ion-option-button class="button-calm">普查</ion-option-button>
      </ion-item>
      <ion-item id="page4-list-item10">畜主B
        <span class="item-note">养殖类型－电话－地址</span>
        <ion-option-button class="button-balanced">修改</ion-option-button>
        <ion-option-button class="button-positive">防疫</ion-option-button>
        <ion-option-button class="button-calm">普查</ion-option-button>
      </ion-item>
      <ion-item id="page4-list-item11">畜主C
        <span class="item-note">养殖类型－电话－地址</span>
        <ion-option-button class="button-balanced">修改</ion-option-button>
        <ion-option-button class="button-positive">防疫</ion-option-button>
        <ion-option-button class="button-calm">普查</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="page4-button16" class="button button-positive button-block">添加</button>
  </ion-content>
</ion-view>