<ion-view title="耳标" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form4" class="list">
      <label class="item item-select" id="page5-select1" name="householder">
        <span class="input-label">蓄主</span>
        <select>
          <option>蓄主A</option>
          <option>蓄主B</option>
        </select>
      </label>
      <label class="item item-input" id="page5-input6" name="beginEarTag">
        <span class="input-label">启始耳标</span>
        <input type="text" placeholder="请输入启始耳标">
      </label>
      <label class="item item-input" id="page5-input7" name="endEarTag">
        <span class="input-label">结束耳标</span>
        <input type="text" placeholder="请输入结束耳标">
      </label>
    </form>
    <button id="page5-button18" class="button button-assertive button-block">提交</button>
  </ion-content>
</ion-view>