<ion-view title="登录" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/UxAP1ErdSTeK3hKWvzop_SHEEP.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page1-form1" class="list">
      <ion-list id="page1-list1">
        <label class="item item-input" id="page1-input2" name="username">
          <input type="text" placeholder="用户名">
        </label>
        <label class="item item-input" id="page1-input3" name="password">
          <input type="password" placeholder="密码">
        </label>
      </ion-list>
      <div id="page1-button-bar1" class="button-bar">
        <button id="page1-button6" class="button button-balanced button-block icon ion-android-person-add">注册</button>
        <a ui-sref="tabsController.page4()" id="page1-button7" class="button button-positive button-block icon ion-android-person">登录</a>
      </div>
    </form>
  </ion-content>
</ion-view>