<ion-view title="关于" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="page7-list2">
      <ion-item class="item-avatar" id="page7-list-item5">
        <h2>用户名</h2>
        <p>角色</p>
      </ion-item>
      <ion-item id="page7-list-item2">组织机构</ion-item>
      <ion-item id="page7-list-item3">管理畜主</ion-item>
    </ion-list>
    <div id="page7-button-bar2" class="button-bar">
      <button id="page7-button13" class="button button-positive button-block">同步数据</button>
      <button id="page7-button15" class="button button-assertive button-block">退出</button>
    </div>
  </ion-content>
</ion-view>