<ion-view title="芯片" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="page6-form5" class="list">
      <label class="item item-input" id="page6-input8" name="eartag">
        <span class="input-label">耳标</span>
        <input type="text" placeholder="请输入耳标号">
      </label>
      <label class="item item-input" id="page6-input9" name="chipset">
        <span class="input-label">芯片</span>
        <input type="text" placeholder="请输入芯片号">
      </label>
    </form>
    <button id="page6-button20" class="button button-assertive button-block">提交</button>
  </ion-content>
</ion-view>