<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <img src="img/icon.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <input type="text" placeholder="用户名">
                </label>
                <label class="item item-input" name="password">
                    <input type="password" placeholder="密码">
                </label>
            </ion-list>
            <div class="button-bar">
                <button class="button button-stable button-block  icon ion-android-person-add" ng-click="register();">注册</button>
                <button class="button button-positive button-block  icon ion-android-person" ng-click="login();">登录</button>
            </div>
        </form>
    </ion-content>
</ion-view>
