<ion-view view-title="关于">
  <ion-content padding="false">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/icon.png" style="width:40px;height:40px;">
        <h2>运输公司财务查询系统V1.0</h2>
        <p>©2015 版权所有</p>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        技术支持：
        <span class="item-note">
          周晓克
        </span>
      </a>
      <a class="item item-icon-left" href="tel:13565459883">
        <i class="icon fa fa-phone"></i>
        电话：
        <span class="item-note">
          13565459883
        </span>
      </a>
      <a class="item item-icon-left" href="mailto:zhouxiaoke2002@163.com">
        <i class="icon ion-email"></i>
        邮箱：
        <span class="item-note">
          zhouxiaoke2002@163.com
        </span>
      </a>
      <a class="item item-icon-left" href="mqq://19448097">
        <i class="icon fa fa-qq"></i>
        QQ：
        <span class="item-note">
          19448097
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
