<ion-view view-title="首页">
  <ion-content padding="false">
    <style type="text/css">
      .home-button {
        line-height:24px;
      }
      .home-row .home-button{
        border-bottom:0px;
      }
      .home-row:last-child .home-button{
        border-bottom: #b2b2b2 solid 1px
      }
      .positive-line-icon, .calm-line-icon, .assertive-line-icon {
        font-size: 30px;
      }
      .positive-line-icon {
        color : #145fd7;
      }
      .calm-line-icon {
        color : #1aacc3;
      }
      .assertive-line-icon {
        color : #cc2311;
      }
    </style>
    <div class="home-row button-bar">
      <button class="button home-button col-33"><br /><i class="ion-document-text calm-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-paper-airplane calm-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-stats-bars calm-line-icon"></i><br />Home</button>
    </div>
    <div class="home-row button-bar">
      <button class="button home-button col-33"><br /><i class="ion-calculator assertive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-printer assertive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-images assertive-line-icon"></i><br />Home</button>
    </div>
    <div class="home-row button-bar">
      <button class="button home-button col-33"><br /><i class="ion-ribbon-a assertive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-leaf assertive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-umbrella assertive-line-icon"></i><br />Home</button>
    </div>
    <div class="home-row button-bar">
      <button class="button home-button col-33"><br /><i class="ion-star positive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-home positive-line-icon"></i><br />Home</button>
      <button class="button home-button col-33"><br /><i class="ion-home positive-line-icon"></i><br />Home</button>
    </div>
  </ion-content>
</ion-view>
