<ion-view title="运输公司财务查询系统">
  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="首页" icon="ion-home" href="#/tabs/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="统计图" icon="ion-stats-bars" href="#/tabs/charts">
      <ion-nav-view name="charts-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="关于" icon="ion-ios7-information" href="#/tabs/about">
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <!--
    <ion-tab title="设置" icon="ion-ios7-cog" href="#/tabs/settings">
      <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
    -->
    <ion-tab title="退出" icon="ion-log-out" href="#/login">
    </ion-tab>

  </ion-tabs>
</ion-view>
