<ion-view title="欢迎">
  <ion-content padding="false" class="has-header" style="background-color:#4a87ee;">
    <br />
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-33" style="text-align:center;">
        <img src="img/icon.png" style="width:125px;height:125px;" />
      </div>
      <div class="col col-33"></div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col col-100" style="text-align:center;color:#fff;">
        <h2 style="color:#fff;">欢迎使用掌上社区!</h2>
        <p>克拉玛依七色花子电子商务有限公司<br />©2012-2015 版权所有</p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col col-25"></div>
      <div class="col col-50">
        <button class="button button-full button-balanced" ng-click="login();">
          开始
        </button>
      </div>
      <div class="col col-25"></div>
    </div>
  </ion-content>
</ion-view>
