<ion-view>
  <ion-nav-title>
    油城掌上社区-联系
  </ion-nav-title>
  <ion-content padding="false" class="has-header">
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/icon.png" style="width:60px;height:60px;">
        <h2>油城掌上社区V1.2</h2>
        <p>克拉玛依七色花电子商务<br />©2012-2015 版权所有</p>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        联系人：
        <span class="item-note">
          虢女士
        </span>
      </div>
      <a class="item item-icon-left" onclick="window.open('tel:0990-6977191', '_system');">
        <i class="icon fa fa-phone"></i>
        电话：
        <span class="item-note">
          0990-6977191
        </span>
      </a>
      <a class="item item-icon-left" onclick="window.open('mailto:88276429@qq.com', '_system');">
        <i class="icon ion-email"></i>
        邮箱：
        <span class="item-note">
          88276429@qq.com
        </span>
      </a>
      <a class="item item-icon-left" onclick="window.open('mqq://88276429', '_system');">
        <i class="icon fa fa-qq"></i>
        QQ：
        <span class="item-note">
          88276429
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
