<ion-view>
  <ion-nav-title>
    油城掌上社区-首页
  </ion-nav-title>
  <ion-content padding="false" class="has-header">
    <ion-slide-box auto-play="true" does-continue="true">
      <ion-slide>
        <div class="box">
          <img onclick="window.open('http://www.fw.sbgwcs.com', '_blank', 'location=yes');" ng-src="img/1.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img onclick="window.open('http://www.qsh.sbgwcs.com', '_blank', 'location=yes');" ng-src="img/2.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img onclick="window.open('http://www.klmyqsh.com/about/', '_blank', 'location=yes');" ng-src="img/3.png" />
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="home-row button-bar">
      <button class="button home-button col-33" onclick="window.open('http://www.sbgwcs.com', '_blank', 'location=yes');"><br /><i class="fa fa-shopping-cart assertive-line-icon"></i><br />
        超市
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.dc.klmyms.com', '_blank', 'location=yes');"><br /><i class="ion-coffee assertive-line-icon"></i><br />
        餐饮
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.klmyxtyd.com', '_blank', 'location=yes');"><br /><i class="fa fa-medkit assertive-line-icon"></i><br />
        药店
      </button>
    </div>
    <div class="home-row button-bar">
      <button class="button home-button col-33" onclick="window.open('http://www.hny.sbgwcs.com', '_blank', 'location=yes');"><br /><i class="fa fa-leaf assertive-line-icon"></i><br />
        花鸟
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.fw.sbgwcs.com', '_blank', 'location=yes');"><br /><i class="ion-help-buoy assertive-line-icon"></i><br />
        服务
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.qsh.sbgwcs.com', '_blank', 'location=yes');"><br /><i class="ion-settings assertive-line-icon"></i><br />
        业务
      </button>
    </div>
    <div class="home-row button-bar">
      <button class="button home-button col-33" onclick="window.open('http://www.klmyqsh.com/about/', '_blank', 'location=yes');"><br /><i class="ion-ribbon-a assertive-line-icon"></i><br />
        关于我们
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.klmyqsh.com/news/news.php?lang=cn&class2=4', '_blank', 'location=yes');"><br /><i class="fa fa-newspaper-o assertive-line-icon"></i><br />
        公司动态
      </button>
      <button class="button home-button col-33" onclick="window.open('http://www.klmyqsh.com/link/', '_blank', 'location=yes');"><br /><i class="ion-earth assertive-line-icon"></i><br />
        友情链接
      </button>
    </div>
  </ion-content>
</ion-view>
