<ion-tabs class="{{tabsStyle}}">
  <ion-tab title="首页" icon="ion-home" href="#/tabs/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="地图" icon="ion-map" href="#/tabs/map">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="联系" icon="ion-ios7-information" href="#/tabs/contacts">
    <ion-nav-view name="contacts-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="升级" icon="ion-refresh" class="{{whetherHideItem}}" ng-click="upgradeConfirm();">
  </ion-tab>
  <ion-tab title="退出" icon="ion-log-out" ng-click="quitConfirm();">
  </ion-tab>
</ion-tabs>
